<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
        bean-discovery-mode="annotated">

    <alternatives>
        <class>org.apache.deltaspike.jpa.impl.transaction.ContainerManagedTransactionStrategy</class>
        <class>lt.vu.usecases.cdi.dao.UniversityDAOTwo</class>
    </alternatives>

    <interceptors>
        <class>lt.vu.usecases.cdi.interceptors.PersistInterceptorImpl</class>
    </interceptors>

    <decorators>
        <class>lt.vu.rest.StudentRestServiceDecorator</class>
    </decorators>
</beans>